{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="col-xs-12 article">
    <h1><a href="{{url}}">{{{title}}}</a></h1>
    <hr>
</div>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
