{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

    <div class="row page-title">
    <h1>top<span>dollar</span></h1>
    </div>

    <div class="row article-header">
      <div class="col-xs-12 posts">
        <h1>Posts </h1>
      </div>
    </div>

    <div class="row articles">
        {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
    </div>
